/*このレイアウトはmust*/
body {
	display: flex;
	flex-direction: column;
}

header {
	background-color: #000000;
	background-image: url("http://farm7.staticflickr.com/6217/6383167507_62c5e3e1c2.jpg");
	/* 表示するコンテナの大きさに基づいて、背景画像を調整 */
	background-size: cover;
	/* 背景画像が読み込まれる前に表示される背景のカラー */
  	background-color: #464646;
  	height: 400px;
  	/*画像を常に天地左右の中央に配置*/ 
 	background-position: center center;
}

header h1 {
	display: flex;
	justify-content: center;
	align-items: center;	
}

.title {
	/*background-color: yellow;*/	
}

/*このレイアウトはmust*/
.right ul{
	float: right;
	margin-left: 10px;
}

.links li{
	display: flex;
	/*background-color: blue;*/
	justify-content: flex-end;
}

/*このレイアウトはmust*/
main {
	display: flex;
	flex: auto;
	padding-top: 10px;
	flex-direction: row;
	/*justify-content: center;*/
	overflow-y: auto;
	/*background-color: red;*/
}

/*このレイアウトはmust*/
article {
	flex: 2;
	flex-direction: column;
	overflow-y: auto;
}

.article-content {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	background-color: red;
	margin: 10px;
}

.article-item-box {
	display: flex;
	flex-direction: row;
	
}

.article-item {
	display: flex;
	flex-direction: column;
	background-color: blue;
	justify-content: flex-end;
	margin: 10px;
}



/*このレイアウトはmust*/
aside {
	flex: 1;
	overflow-y: auto;
}

footer {
	padding-top: 10px;
	background-color: yellow;
}

