/*このレイアウトはmust*/
body {
	display: flex;
	flex-direction: column;
}

header {
	/*background-color: red;*/
	height: 100px;
	flex-direction: column;
}

.title {
	/*background-color: yellow;*/	
}

/*このレイアウトはmust*/
.right ul{
	float: right;
	margin-left: 10px;
}

.linkBox {
	display: flex;
	/*background-color: blue;*/
	justify-content: flex-end;
}

/*このレイアウトはmust*/
main {
	display: flex;
	flex: auto;
	padding-top: 10px;
	flex-direction: row;
	/*justify-content: center;*/
	overflow-y: auto;
	/*background-color: red;*/
}

/*このレイアウトはmust*/
article {
	flex: 2;
	overflow-y: auto;
}

/*このレイアウトはmust*/
aside {
	flex: 1;
	overflow-y: auto;
}

footer {
	padding-top: 10px;
}

